html, body {
	height: 100%;
	margin: 0;
}

main {
  display: block;
  padding: 20px;
}

.container {
	position: relative;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gif-wrapper {
	position: relative;
	margin-bottom: 20px;
}

.image-caption {
	position: absolute;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 6pt;
	color: #999999;
	margin: 0;
	letter-spacing: 0.3px;
	padding-right: 4px;
	right: 8px;
	bottom: 8px;
}

.text-below {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: center;
	margin: 0;
	max-width: 600px;
}

@media (max-width: 720px) {
	.container {
		padding: 28px 16px;
	}
}