html, body {
	height: 100%;
	margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}


main {
	display: block;
	padding: 20px;
}


.image-caption {
	font: arial, sans-serif;
	font-size: 6px;
	color: #999999;
	margin: 0;
	letter-spacing: 0.3px;
	padding-right: 4px;
	right: 8px;
	bottom: 8px;
}

.page-content {
	width: 100%;
	max-width: 1200px;
}



@media (max-width: 720px) {
	.container {
		grid-template-columns: 1fr;
		padding: 28px 16px;
	}

	
