html, body {
	height: 100%;
	margin: 0;
}

main {
  display: block;
  padding: 20px;
  max-width: 1200px; /* or whatever width you prefer */
  margin: 0 auto;    /* centers the main element */
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gif-wrapper {
	position: relative;
	margin-bottom: 20px; /* Space between gif and text below */
}

.text-below {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 11px; /* Adjust as needed */
	color: #333333;
	text-align: right;
	margin: 0;
}

.image-caption {
	font-family: arial, sans-serif;
	font-size: 6pt;
	color: #999999;
	margin: 0;
	letter-spacing: 0.3px;
	padding-right: 4px;
	right: 8px;
	bottom: 8px;
	position: absolute;
}

.page-content {
	width: 100%;
	max-width: 1200px;
}


@media (max-width: 720px) {
	.container {
		padding: 28px 16px;
	}
}

	
